@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?ulvjll');
  src:  url('../fonts/icomoon.eot?ulvjll#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?ulvjll') format('truetype'),
    url('../fonts/icomoon.woff?ulvjll') format('woff'),
    url('../fonts/icomoon.svg?ulvjll#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-facebook:before {
  content: "\e904";
}
.icon-instagram:before {
  content: "\e905";
}
.icon-envelope-o:before {
  content: "\e900";
}
.icon-phone:before {
  content: "\e902";
}
.icon-tablet:before {
  content: "\e902";
}
.icon-mobile:before {
  content: "\e902";
}
.icon-location:before {
  content: "\e903";
}
.icon-map:before {
  content: "\e903";
}
.icon-instagram1:before {
  content: "\e906";
}
.icon-brand:before {
  content: "\e906";
}
.icon-social:before {
  content: "\e906";
}
.icon-menu:before {
  content: "\e901";
}

html{
  font-size: 62.5%;
}
body{
  max-width: 1366px;
  margin: auto;
  font-family: 'karla';
}
header{
  background: linear-gradient(90deg, rgba(32,32,52,1) 23%, rgba(84,97,101,1) 100%); 
  color: white;
}
header .contactosHeader div i{
  color: #f15e42;
}
header .containerHeader1{
  background: rgba(255,255,255,.1)
}
header .containerHeader2{
  margin-top: 1rem;
}
header .containerHeader1,.containerHeader2{
  display: flex;
  justify-content: space-around;
}
header .contactosHeader{
display: flex;
}
header .contactosHeader div{
  display: flex;
  align-items: center;
  margin-top: 1rem;
}
header .contactosHeader div h3{
  font-size: 1.4rem;
  margin-right: 3rem;

}
header .contactosHeader i{
  font-size: 1.8rem;
  margin-right: 1rem;
}
header .redesSociales{
  margin-top: 1rem;
  font-size: 1.8rem;
  align-items: center;
  display: flex;
}
header .redesSociales i{
  margin-left: 2rem;
}
header .containerHeader2{
display: flex;
}
header .containerHeader2 figure{
  width: 15rem;
  margin: 0;
}
header .containerHeader2 figure img{
  width: 100%;
}
header .navegacion{
display: flex;
align-items: center;
}
header .navegacion ul{
  display: flex;
}
.menu > ul:nth-child(1) > li:nth-child(1){
  margin-left: 0;
}
header .navegacion ul li{
  list-style: none;
  margin-left: 6rem;
  font-size: 1.4rem;
}
header .navegacion ul a{
  text-decoration: none;
  color:white;
  font-weight: bold;
  font-size: 1.6rem;
}
.hero figure{
  margin: 0;
}
.hero figure img{
  width: 100%;
  display: flex;
}
main h1{
  text-align: center;
  font-size: 4.8rem;
  font-weight: 800;
  color: #333333;
}

main .descripcion1{
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 5rem;
}
main .descripcion1 img{
  width: 100%;
  
}

main .descripcion1 .textoDescripcion h1{
  font-size: 4.4rem;
}
main .descripcion1 .textoDescripcion p{
  text-align: justify;
  width: 70%;
  font-size: 1.6rem;
  line-height: 2;
  color:#707070;
}
button{
  filter: drop-shadow(6px 3px 3px #3F4144);
  font-size: 1.8rem;
  height: 4rem;
  width: 15rem;
  border-radius: 2rem;
  border: unset;
  background:#316c7a;
  color: white;
  font-family: 'alata';
  padding: 0;
  cursor: pointer;
  margin-top: 1rem;
}
main .titulo{
  display: flex;
  justify-content: center;
  font-size: 20px;
}
main .titulo{
  font-size: 5rem;
  font-family:'changa';
  color: #27304b;
  display: flex;
  justify-content: center;
 
}
main .titulo h2{
  margin: 0;
}
main .videos{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 45px;
  row-gap: 0;
  width: 80%;
  margin: 0 auto 10rem auto;
  font-family: 'changa';

}

main .videos .video{
  text-align: center;
  font-size: 1.8rem;
  color: #f15e42;
}
.responsiveContent {
  position: relative;
  height: 0;
  overflow: hidden;
  padding-bottom: 56.2%;
  margin: auto;
  margin-bottom: 20px;
  width: 80%;

}
.responsiveContent iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 20px;
}

footer{
  background: linear-gradient(90deg, rgba(32,32,52,1) 23%, rgba(84,97,101,1) 100%); 
  color: white;
}
footer .contactosHeader div i{
  color: #f15e42;
}
footer .containerHeader1{
  background: rgba(255,255,255,.1)
}
footer .containerHeader2{
  margin-top: 1rem;
}
footer .containerHeader1,.containerHeader2{
  display: flex;
  justify-content: space-around;
}
footer .contactosHeader{
display: flex;
}
footer .contactosHeader div{
  display: flex;
  align-items: center;
  margin-top: 1rem;
}
footer .contactosHeader div h3{
  font-size: 1.4rem;
  margin-right: 3rem;
}
footer .contactosHeader i{
  font-size: 1.8rem;
  margin-right: 1rem;
}
footer .redesSociales{
  margin-top: 1rem;
  font-size: 1.8rem;
  align-items: center;
  display: flex;
}
footer .redesSociales i{
  margin-left: 2rem;
}
 .final{
  display: grid;
 grid-template-columns: 1fr 1fr;
 margin-bottom: 3rem;
}
map{
  grid-column-start: 2;
  grid-row-start: 1;
  margin: 1rem 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
map h3{
  color: black;
  font-size: 3.2rem;
  margin-top: 0;
}
.horario{
  grid-column-start: 1;
 grid-row-start: 1;
 text-align: center;
 display: flex;
  flex-direction: column;
  justify-content: center;
}
 .horario h3{
  margin: 1rem 0 0 0;
  font-size: 3.4rem;
  color: black;
}
.horario h4{
  font-size: 2.2rem;
  margin:1rem;
}
body > main > section.final > div > h4:nth-child(5){
  margin-top: 3rem;
}
.horario p{
  font-size:1.6rem;
  margin: 0;
}
.navegacion2{
  display: none;
}
.burger-button{
  display: none;
  width: 4rem;
  height: 4rem;
  border-radius: 0;
  background :  rgba(75 ,	167 ,	230, .8);
  line-height: 4rem;
  text-align: center;
  position: fixed;
  color: white;
  border-radius: 50%;
  font-size: 1.6rem;
  margin: 0.3rem 0 0 0.3rem;
  z-index: 3;
}

section.redesSociales > a{
  color: white;
    text-decoration: none;
}
@media screen and (max-width:770px){
  main .videos{
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width:750px){
header .containerHeader2{
display: none;
}
header .navegacion ul{
  display: none;
}
header .redesSociales{
  display: none;
}

.burger-button{
  margin-top: 6rem;
  display: block;
  z-index: 3;}
  .navegacion2{
    display: block;
  }
  .navegacion2 nav{
    position: fixed;
    background: rgba(38, 38,38, .8);
    z-index: 2;
    width: 100%;
    height: 100%;
    align-items: center;
    left: -100vw;
    transition: .3s;
    display: flex;
    justify-content: center;
  }
  .navegacion2 nav.is-active{
    left: 0vw;
  }
  .menu > ul:nth-child(1) > li:nth-child(1){
  margin: auto;
}

.navegacion nav ul{
  flex-direction: column;
  padding: 0;
  list-style: none;
  text-align: center;
}
.navegacion nav ul li{
  margin: 4rem;
}
.navegacion nav ul li a:hover{
  color: #84c54e;
}
.navegacion nav ul a{
  text-decoration: none;
  color: white;
  font-size: 1.8rem;
  font-weight: 700;
}
.final{
  display: block;
}
map{
  margin: 3rem 0;
}
}
@media screen and (max-width:600px){
  header .contactosHeader .email{
    display: none;
  }
  
  footer .contactosHeader{
    flex-direction: column;
    align-items: center;
  }
footer .containerHeader1,.containerHeader2{
  flex-direction: column;
  align-items: center;
}
footer .redesSociales i{
  margin: 0;
}
}